.App {
  text-align: center;
  background-image: radial-gradient(#282c34, black);
  height: 100vh;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-bar {
  background-color: black;
  width: 100%;
  padding: 1rem 0;
}

.logo {
  height: 60px;
  width: auto;
}

.song-list {
  background-color: #3c424e;
  border-radius: 1rem;
  margin: 2rem;
  min-width: 300px;
}

.song-result {
  padding: 1rem;
  display: flex;
}

.album-art {
  height: 100px;
  width: auto;
  padding: 1rem;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

footer {
  background-color: black;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.5rem;
}